html {
    /* px は「ピクセル」 (pixels) の意味。ベースフォントサイズは 10 ピクセルの高さになる */
    font-size: 10px;
    /*  Google フォント 使用 */
    font-family: "Open Sans", sans-serif;
    /* 要素の内容と padding（コンテンツの周囲のスペースでborderまで） の背後にある色 */
    background-color: #2EC4B6;
}

body {
    width: 600px;
    /* 要素の外側の空間について、上下 0 左右 均等 配置 */
    margin: 0 auto;
    background-color: #FF3366;
    /* 上・右・下・左 */
    padding: 0 20px 20px 20px;
    /* 境界の太さ、スタイル、色 */
    border: 5px solid #011627;
}

h1 {
    font-size: 60px;
    /* コンテンツの水平方向を中央 */
    text-align: center;
    margin: 0;
    /* 上下 20px 左右 0 */
    padding: 20px 0;
    color: #2EC4B6;
    /* 文字の影 横3px 下3px ぼかし半径1px */
    text-shadow: 3px 3px 1px #011627;
}

img {
    display: block;
    margin: 0 auto;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}